/* Something universal */
.content-is-all-here {
    margin-left: 200px;
}
.caption-text {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #4a4a4a;
}
.btn-primary {
    background-color: #1a1a1a;
    color: #f9f9f9;
    font-family: 'Comfortaa';
    margin-right: 24px;
}
.btn-secondary {
    border: 2px solid #1a1a1a;
    background-color: transparent;
    color: #1a1a1a;
    font-family: 'Comfortaa';
    font-weight: bold;
    margin-right: 24px;
}
.btn-success {
    font-family: 'Comfortaa';
    font-weight: bold;
}
.active-side-nav {
    background: #3C64B1;
    border-radius: 4px;
    color: #f9f9f9 !important;
}

/* Solid border */
hr.solid {
    border-top: 2px solid #4a4a4a;
  }

/* All side nav related CSS */

.side-nav-custom {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1a1a1a;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.side-nav-custom a {
    padding: 16px 16px 16px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    transition: 0.3s;
    font-family: 'Comfortaa';
    display: block;
  }

  
  /* When you mouse over the navigation links, change their color */
  .side-nav-custom a:hover {
    color: #f1f1f1;
  }



  /* This is the logo on the side nav */
.sidenav-logo {
    width: 80px;
    margin-top: 2%;
}
/* This is for any other icon file */
.icon-of-size {
    width: 30px;
    height: 30px;
    margin-left: 12px;
    margin-right: 12px;
}

/* This is side nav bottom links like settings and logout */
.sidenav-bottom-cta {
    margin-bottom: 2%;
}

/* All top nav related css */

.top-nav-custom {
    position: fixed;
    top: 32px;
    left: auto;
    right: 32px;
    background-color: rgba(229, 229, 229, 0.4);
    padding: 16px;
}

/* Main Content properties here */

/* sectional properties */
.dashboard-home-tab {
    padding: 40px;
    height: 100%;
}
.slack-home-tab {
    padding: 40px;
    height: 100vh;
    background: #2B092A;
}
.gcalendar-home-tab {
    padding: 40px;
    height: 100vh;
    background: #4285F4;
}


/* Things about the integration cards */
.integration-card-header {
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
}
.integration-card {
    width: 100% auto;
    padding: 24px;
    border: 2px solid #DCDCDC;
    box-shadow: 8px 8px 12px rgba(52, 52, 52, 0.2);
    border-radius: 8px;
}
.integration-card-info {
    margin-left: 24px;
    margin-right: 24px;
}

.integration-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 24px;
    grid-row-gap: 40px !important;
    padding-left: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-items: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 12px;
}



/* Making sidenav responsive */

@media screen and (max-width: 700px) {
    .side-nav-custom {
        width: 100%;
        height: auto;
        position: relative;
        display: inline-block;
        justify-content: center;
    }
    .side-nav-custom a {
        float: left;
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    .side-nav-custom a{
        text-align: center;
        float: none;
        font-size: 16px;

    }
}